@tailwind base;
@tailwind components;
@tailwind utilities;

/* Block screenshot attempts */
.no-screenshot {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.no-screenshot input, 
.no-screenshot button, 
.no-screenshot textarea,
.no-screenshot [contenteditable="true"] {
  pointer-events: auto;
}

body {
  @apply bg-gray-50 text-gray-900;
}